.buttonBlock{
    // background-color: pink;
    text-align: center;
    margin-bottom: 20%;
    margin-top: -20px;
    .button{
        // background-color: pink;
        width: 70%;
        margin: 0 auto;
        padding: 2% 0%;
    }
}
