header {
    margin-bottom: 26px;
}

.icon_big {
    margin-bottom: 30px;
}

.name {
    text-align: center;
    margin-bottom: 20px;

}

.birthDay {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}

.longBtnDarkOrange {
    margin-bottom: 25px;
}

.change_page {
    margin-bottom: 10px;

}