header {
    margin-bottom: 70px;
}

h1 {
    margin-bottom: 40px;
}

.registerContents {
    margin-bottom: 50px;
}

.registerContents>p {
    margin-bottom: 10px;
}

.icon_big {
    margin-top: 45px;
}